<h2>Login</h2>
<div>
  <form id="login" action="/login" method="post">
    <input type="text" name="user[email]" placeholder="E-mail">
    <input type="password" name="user[password]" placeholder="Password">
    <input id="button" type="submit" value="Login">
  </form>
</div>

<h2>Signup</h2>
<div>
  <form id="signup" action="/signup" method="post">
    <input type="text" name="user[email]" placeholder="E-mail">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="password" name="password_confirmation" placeholder="Confirm Password">
    <input id="button" type="submit" value="Signup">
  </form>
</div>
