<div class='nav_bar'>
  <a href='/' id="logo"><strong>SurveyKathy</strong></a>

  <ul>
  <% if current_user %>                                                      
    <li><a href='#'>Create Survey</a></li>
    <li><a href='#'>Take Survey</a></li>
    <li><a href='/logout'>Log Out</a></li>
  <% end %>
  </ul>
</div>