<nav>
  <div id="logo">
    <a href='/' id="logo"><strong>SurveyGorilla</strong></a>
  </div>
  <div id="links">
    <ul>
    <% if current_user %>                     
      <li><a href='/surveys/new'>Create Survey</a></li>
      <li><a href='/surveys/all'>Take Survey</a></li>
      <li><a href='/logout'>Log Out</a></li>
    <% end %>
    </ul>
  </div>
</nav>
