<form action="/surveys/new" method="post">
<h1>Make A Survey</h1>
 <h2>Title: </h2> <input type="text" name="title" value="Put the damn Title here">
  <div id="question_dropzone">
    <div id="question_template">
    <h2>Question: </h2>   <input type="text" name="form[][question]" value="Add Question">
        <div id="choice_dropzone">
           <h2>Choices: </h2> <button id="add_choice">Add Choice</button>
          <input type="text" name="form[][choice][]" value="Enter choice">
          <input type="text" name="form[][choice][]" value="Enter choice">

        </div>
      
      <button class="remove_button">Remove Question</button>
    </div>
  </div>
  <button id="add_button">Add Question</button>
  <h1><input type="submit" value="Submit Gorilla"></h1>
  
</form>

